:root {
    --orange: #FAB700;
    --bg: #000;
    --secondary: #999;
    --text: #fff;
}
body {
    background-color: var(--bg);
    color: var(--text);
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", sans-serif;
    font-size: 26px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, auto) 1fr auto;
    height: 100vh;
    user-select: none;
    width: clamp(300px, 100%, 960px);
}
a {color: #666;text-decoration: none;}
#input {margin: 0; font-size: 42px;}
#flip {line-height: 1.6rem; cursor: pointer; color: var(--secondary);}
input {
    background-color: var(--bg);
    color: var(--text);
    font-size: 1rem;
    border: 1px solid var(--secondary);
    line-height: 2rem;
    font-size: 1.3rem;
}
section, footer {margin: 0 10px;}
header {
    margin: 10px;
    display: grid;
    grid-template-columns: 0fr auto auto;
    gap: 5px;
}
header input{
    display: flex;
    justify-content: center;
}
section {
    display: flex;
    justify-content: center;
}
footer {text-align: center;}
.input-field {align-items: flex-end; min-height: 50px;}
#wagons, #locos, #numpad {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto 1fr;
    gap: 5px;
}
#locos {grid-template-columns: repeat(3,1fr);}
input#otn {min-width: 5rem;}
input#dep {min-width: 7rem;}
#wagons div, #locos div, #numpad div {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333;
    cursor: pointer;
    min-height: 1.5em;
}
#wagons div:active, #locos div:active, #numpad div:active { background-color: var(--orange); }
#numpad {
    grid-template-columns: repeat(4,1fr);
    margin-bottom: 10px;
}
#numpad div {
    min-height: 2.5em;
}
.valid {color: green;}
.caution {color: var(--orange);}
.warning {color: red;}
